.place__title {
  margin: 0 0 48px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  }

@media (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}
  
@media (max-width: 425px) {
  .place__title {
    margin: 0 0px 32px 0px;
    padding: 0 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}