.lead__image {
  width: 100%;
  display: block;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    max-width: 320px;
  }
}