.intro__text {
  margin: 40px 0 33px 0;
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    margin: 40px auto 33px;
  }
}

@media (max-width: 730px) {
  .intro__text {
    max-width: 720px;
    margin: 40px 24px 33px 24px;
  }
}

@media (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    font-size: 16px;
    line-height: 26px;
  }
}